<!--
  ~ Copyright (c) 2019-2024 Dimitrijs Fedotovs
  ~ This software is licensed under the terms of the MIT license
  ~ See LICENSE for the license details.
  ~
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="guru.bug.austras" level="info"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>